.custom_div {
  text-align:center;
  padding-bottom: 20px;
}
.form-horizontal {
  margin-top: 5em !important;
}
.custom_text_input {
  width: 25em;
  padding: 6px 12px;
  border-radius: 10px;
}
.btn.btn-primary {
  margin-left: 10px;
}

.custom_user_grid{
text-align: center;
border-style: solid;
border-width: 1px;
border-radius: 5px;
margin-left: 20em;
margin-right: 20em;
list-style-type: none;
margin-top: 1em;
margin-bottom: 1em;
padding: 1em;
}

.custom_output {
width: 256px;
float: right;
padding-left: 0px;
height: 58px;
margin-right: 54px;
text-align: left;
margin-left: 20px;
}
